<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyShare Change Password</title>
  <meta name="author" content="Vlad Litvak">
  <meta name="description" content="MyShare Portfolio Manager Change Password Page">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MyShareFavicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wide-panel.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <script src="{{ url_for('static', filename='js/change-password.js') }}"></script>
</head>

<body onload="loadUserMenu()" id="body">
  <div class="pagecontainer">

    <!-- toolbar -->
    <div class="toolbar unselectable">

      <!-- title -->
      <div class="middle">
        <message>Change Password</message>
      </div>

      <!-- home button -->
      <div class="left">
        <div class="button" style="width:70px;" onclick="window.location.href='home'">Home</div>
      </div>

      <!-- right set of buttons -->
      <div class="right" id="right buttons"></div>

    </div>

    <!-- display panel -->
    <div class="widepanel unselectable" style="max-height:430px;">

      <!-- password input -->
      <div class="inputlabel centeredlabel60" style="margin-top:40px;">
        <div class="name">Password:</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:60%;" type="password" id="password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- new password input -->
      <div class="inputlabel centeredlabel60">
        <div class="name">New Password:</div>
        <div class="info">minimum 8 characters</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:60%;" type="password" id="new password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- confirm new password input -->
      <div class="inputlabel centeredlabel60">
        <div class="name">Confirm New Password:</div>
      </div>
      <div style="margin-bottom:20px;">
        <input style="width:60%;" type="password" id="confirm password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- space for error message -->
      <div class="error" style="margin-bottom:10px;" id="error message"></div>

      <!-- change password button -->
      <div class="buttoncontainer">
        <div class="button" style="width:30%" onclick="changePassword()">Change Password</div>
      </div>

      <!-- back link -->
      <div class="helplink" style="font-size:11px;margin-bottom:30px;" onclick="window.location.href='account-settings'">
        <u>Back to Account Settings</u>
      </div>

    </div>

    <div class="footer">Vlad Litvak &copy; 2020</div>

  </div>
</body>
</html>
