<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyShare Login</title>
  <meta name="author" content="Vlad Litvak">
  <meta name="description" content="MyShare Portfolio Manager Login Page">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MyShareFavicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>

<body>
  <div class="pagecontainer">

    <!-- panel -->
    <div class = "panel unselectable">

      <!-- title -->
      <h2 style ="margin-top:20px;">MyShare</h2>
      <h5>Portfolio Manager</h5>

      <!-- username input -->
      <div style="margin-bottom:20px;">
        <input style="width:50%;margin:8px 0px;" type="text" id="username" placeholder="username" spellcheck="false" onclick="hideMessage()">
      </div>

      <!-- password input -->
      <div>
        <input style="width:50%;margin:8px 0px;" type="password" id="password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- forgot password link -->
      <div class="helplink" style="font-size:11px;margin-bottom:20px;" onclick="window.location.href='recover-password'">
        <u>Forgot Password</u>
      </div>

      <!-- space for error message -->
      <div class="error" style="margin-bottom:10px;" id="error message"></div>

      <!-- login button -->
      <div class="buttoncontainer">
        <div class="button" style="width:50%" onclick="login()">Log In</div>
      </div>

      <!-- create account link -->
      <div class="helplink" style="font-size:11px;margin-bottom:20px;" onclick="window.location.href='register'">
        <u>New User? Create an Account</u>
      </div>

      <!-- back link -->
      <div class="helplink" style="font-size:11px;margin-bottom:20px;" onclick="window.location.href='home'">
        <u>Back to Home</u>
      </div>

    </div>

    <div class="footer">Vlad Litvak &copy; 2020</div>

  </div>
</body>
</html>
