<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyShare Lots</title>
  <meta name="author" content="Vlad Litvak">
  <meta name="description" content="MyShare Portfolio Manager Lots Page">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MyShareFavicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <script src="{{ url_for('static', filename='js/lots.js') }}"></script>
</head>

<body onload="loadUserMenuAndLots()" id="body">
  <div class="pagecontainer">

    <!-- toolbar -->
    <div class="toolbar unselectable">

      <!-- home button -->
      <div class="left">
        <div class="button" style="width:70px;" onclick="window.location.href='home'">Home</div>
      </div>

      <!-- right set of buttons -->
      <div class="right" id="right buttons"></div>

      <!-- add lot button -->
      <div class="middle">
        <div class="button" style="width:70px;" onclick="window.location.href='new-lot'">Add Lot</div>
      </div>

    </div>

    <!-- lots display area -->
    <div class="listcontainer" id="lots" style="cursor:default;">

      <!-- lots statistics -->
      <div class="listitem">
        <div class="listitemsection" style="border:none">
          <div class="lotsheader">
            <div style="font-size:28px">Curr. Principle:&nbsp;&nbsp;<span style="color:white;" id="principle">$0.00</span></div>
            <div>Value Increase:&nbsp;&nbsp;<span style="color:white;" id="valueincrease">$0.00</span></div>
            <div>Profit from Selling:&nbsp;&nbsp;<span style="color:white;" id="profit">$0.00</span></div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer">Vlad Litvak &copy; 2020</div>

  </div>
</body>
</html>
