<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyShare Recover Password</title>
  <meta name="author" content="Vlad Litvak">
  <meta name="description" content="MyShare Portfolio Manager Password Recovery Page">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MyShareFavicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <script src="{{ url_for('static', filename='js/recover-password.js') }}"></script>
</head>

<body>
  <div class="pagecontainer">

    <!-- panel -->
    <div class = "panel unselectable">

      <!-- title -->
      <h2 style ="margin-top:0px;margin-bottom:20px;">Recover Password</h2>

      <!-- email input -->
      <div class="inputlabel" style="width:50%;margin-left:25%;margin-bottom:0px;">
        <div class="name">Email:</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="text" id="email" placeholder="john.smith@example.com" spellcheck="false" onclick="hideMessages()">
      </div>

      <!-- space for error message -->
      <div class="error" style="margin-bottom:0px;" id="send reset code error message"></div>

      <!-- send reset code button -->
      <div class="buttoncontainer" style="margin-bottom:40px;">
        <div class="button" style="width:50%" onclick="hideMessages();sendResetCode();">Send Reset Code</div>
      </div>

      <!-- username input -->
      <div class="inputlabel" style="width:50%;margin-left:25%;margin-bottom:0px;">
        <div class="name">Username:</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="text" id="username" placeholder="john.smith" spellcheck="false" onclick="hideMessages()">
      </div>

      <!-- reset code input -->
      <div class="inputlabel" style="width:50%;margin-left:25%">
        <div class="name">Reset Code:</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="text" id="reset code" placeholder="abcd1234" spellcheck="false" onclick="hideMessages()">
      </div>

      <!-- space for error message -->
      <div class="error" style="margin-bottom:0px;" id="reset password error message"></div>

      <!-- reset password button -->
      <div class="buttoncontainer">
        <div class="button" style="width:50%" onclick="hideMessages();resetPassword();">Reset Password</div>
      </div>

      <!-- return to login link -->
      <div class="helplink" style="font-size:11px;margin-bottom:20px;" onclick="window.location.href='login'">
        <u>Back to Login</u>
      </div>

    </div>

    <div class="footer">Vlad Litvak &copy; 2020</div>

  </div>
</body>
</html>
