<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyShare New User</title>
  <meta name="author" content="Vlad Litvak">
  <meta name="description" content="MyShare Portfolio Manager Register Page">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/MyShareFavicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>

<body>
  <div class="pagecontainer">

    <!-- panel -->
    <div class="panel unselectable">

      <!-- name input -->
      <div style="width:50%;margin-left:25%;">
        <!-- first name input -->
        <div style="width:45%;float:left;">
          <div class="inputlabel">
            <div class="name">First Name:</div>
          </div>
          <div style="margin-bottom:10px;">
            <input style="width:100%" type="text" id="first name" placeholder="John" spellcheck="false" onclick="hideMessage()">
          </div>
        </div>
        <!-- last name input -->
        <div style="width:45%;float:right;">
          <div class="inputlabel">
            <div class="name">Last Name:</div>
          </div>
          <div style="margin-bottom:10px;">
            <input style="width:100%" type="text" id="last name" placeholder="Smith" spellcheck="false" onclick="hideMessage()">
          </div>
        </div>
      </div>

      <!-- email input -->
      <div class="inputlabel" style="width:50%;margin-left:25%;">
        <div class="name">Email:</div>
        <div class="info">email will be used in password recovery</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="text" id="email" placeholder="john.smith@example.com" spellcheck="false" onclick="hideMessage()">
      </div>

      <!-- username input -->
      <div class="inputlabel" style="width:50%;margin-left:25%">
        <div class="name">Username:</div>
        <div class="info">minimum 6 characters</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="text" id="username" placeholder="john.smith" spellcheck="false" onclick="hideMessage()">
      </div>

      <!-- password input -->
      <div class="inputlabel" style="width:50%;margin-left:25%">
        <div class="name">Password:</div>
        <div class="info">minimum 8 characters</div>
      </div>
      <div style="margin-bottom:10px;">
        <input style="width:50%;" type="password" id="password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- confirm password input -->
      <div class="inputlabel" style="width:50%;margin-left:25%">
        <div class="name">Confirm Password:</div>
      </div>
      <div style="margin-bottom:7px;">
        <input style="width:50%;" type="password" id="confirm password" placeholder="password" onclick="hideMessage()">
      </div>

      <!-- space for error message -->
      <div class="error" style="margin-bottom:0px;" id="error message"></div>

      <!-- create account button -->
      <div class="buttoncontainer">
        <div class="button" style="width:50%" onclick="register()">Create Account</div>
      </div>

      <!-- back link -->
      <div class="helplink" style="font-size:11px;" onclick="window.history.back();">
        <u>Back</u>
      </div>

    </div>

    <div class="footer">Vlad Litvak &copy; 2020</div>

  </div>
</body>
</html>
